<div class="environment">
  {{#if displayInfoHeader}}
    <div class="alert alert-danger" role="alert">
      Warning! Running in {{environment}} mode.
    </div>
  {{/if}}
</div>

<div class="container">
  <div class="nav">
    <div class="menu">
      {{#link-to "index"}}
        <h1>
          <em>Fe</em>
        </h1>
      {{/link-to}}
    </div>
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>