<div class="jumbo">
  <div class="right tomster"></div>
  <h2>My sessions</h2>
  <p>
    {{
      panel-all-sessions-overview
      sessions=sessions
    }}
  </p>

  {{#link-to "about" class="button"}}
    About Fe
  {{/link-to}}
</div> 