<!-- panel-session-overview -->
<div class="card">
  <div class="card-header">
    <h5>
      <button class="btn btn-link" data-toggle="collapse">
        {{session.date}}
      </button>
    </h5>
  </div>
</div>>
<div class="collapse show">
  <div class="card-body">
    Example text for now.
  </div>
</div>